@import '../../../styles/base.module';

.options_wrapper {
    min-width: 200px;
    max-height: 200px;
    background-color: white;
    margin: 8px;
    border: 1px solid $disabled-text;
    border-radius: 4px;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px, rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
    color: rgba(0, 0, 0, 0.87);
    display: none;

    &.visible {
        display: inline-block;
    }
}

.option {
    padding: 10px;
    border-bottom: 1px solid $disabled-text;
    list-style-type: none;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: $disabled-text;
    }

    &.selected {
        background-color: $grey-filled;
    }
}