@import '../../../styles/base.module';

.text_field_wrapper {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;
    box-sizing: border-box;
    position: relative;
    min-width: 222px;
    display: inline-block;
    margin: 8px;
}

.text_field_wrapper span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: $text-dark;
    transition: top 0.3s;
    font-weight: 400;
}

.text_field_input,
.text_field_input:focus {
    border: none;
    outline: none;
    height: 1.4375em;
    font-size: 1.1em;
}

.text_field_wrapper.disabled .text_field_input,
.text_field_wrapper.disabled span {
    color: $disabled-text;
}

.iconContainer {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 24px;
    cursor: pointer;
}

.iconContainer svg {
    width: 100%;
    height: 100%;
}

//outlined
.text_field_wrapper.outlined {
    border: 1px solid #c4c2c2;
    border-radius: 4px;
    padding: 16px 14px;
}

.text_field_wrapper.outlined:hover {
    border: 1px solid black;
}

.text_field_wrapper.outlined.disabled {
    border: 1px solid $disabled-text;
    color: $disabled-text;
    background-color: white;
}

.text_field_input:disabled {
    background-color: white;
}

.text_field_wrapper.outlined:focus-within {
    border: 2px solid $blue;
    padding: 15px 13px;
}

.text_field_wrapper.outlined:focus-within>span,
.text_field_wrapper.outlined > span.focused {
    top: -2px;
    font-size: 0.8em;
    background-color: white;
    padding: 0 4px;
}

.text_field_wrapper.outlined:focus-within>span {
    color: $blue;
}


//filled
.text_field_wrapper.filled {
    background-color: $grey-filled;
    border-bottom: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 25px 12px 8px;
}

.text_field_wrapper.filled.disabled {
    border-bottom: 1px dotted black;
    background-color: $disabled-bg;
    padding-bottom: 8px;
}

.text_field_wrapper.filled.disabled .text_field_input {
    background-color: $disabled-bg;
    color: $text-dark;
}

.text_field_wrapper.filled.disabled span {
    color: $text-dark;
}

.text_field_wrapper.filled .text_field_input {
    background-color: $grey-filled;
}

.text_field_wrapper.filled:hover:not(.disabled), .text_field_wrapper.filled:hover .text_field_input:not(:disabled) {
    background-color: #e1e0e0;
}
.text_field_wrapper.filled:hover:not(.disabled):focus-within {
    background-color: $grey-filled;
}

.text_field_wrapper.filled:focus-within {
    background-color: $grey-filled;
    border-bottom: 2px solid $blue;
    padding-bottom: 7px;
}

.text_field_wrapper.filled:hover .text_field_input:focus {
    background-color: $grey-filled;
}

.text_field_wrapper.filled:focus-within>span,
.text_field_wrapper.filled > span.focused {
    top: 15px;
    font-size: 0.8em;
    padding: 4px;
}

.text_field_wrapper.filled:focus-within>span {
    color: $blue;
}


//standard
.text_field_wrapper.standard {
    border-bottom: 1px solid black;
    padding: 18px 0 6px;
}

.text_field_wrapper.standard.disabled {
    border-bottom: 1px dotted black;
    padding-bottom: 6px;
}

.text_field_wrapper.standard:hover:not(.disabled):not(.error) {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.text_field_wrapper.standard:hover:not(.disabled):not(.error):focus-within {
    border-bottom: 2px solid $blue;
    padding-bottom: 5px;
}

.text_field_wrapper.standard:focus-within {
    border-bottom: 2px solid $blue;
    padding-bottom: 5px;
}

.text_field_wrapper.standard>span {
    left: 0;
}

.text_field_wrapper.standard:focus-within>span,
.text_field_wrapper.standard > span.focused {
    top: 6px;
    font-size: 0.8em;
    padding: 4px;
}

.text_field_wrapper.standard:focus-within>span {
    color: $blue;
}

.text_field_wrapper.outlined.error,
.text_field_wrapper.filled.error,
.text_field_wrapper.standard.error {
    border-color: $error-red;
}

.text_field_wrapper.error>span,
.text_field_wrapper.error:focus-within>span {
    color: $error-red;
}