$color-blue: #1976d2;
$color-light-blue-button: #0A76D27F;
$color-darker-grey: #A6A6A6;
$color-light-grey-button: #E0E0E0;

$bg-color: #0000007F;

$color-blue-faded: #A7CAED;
$color-light-blue: #88B8E7;
$color-light-blue-faded: #E3EEFA;
$color-light-grey: #F5F5F5;
$color-medium-grey: #E0E0E0;
$color-darker-grey: #989898;

$error-red: #de1111;
$disabled-text: #D3D3D3FF;
$disabled-bg: #d3d3d3;
$text-dark: #a2a1a1;
$grey-filled: #E8E8E8;
$blue: #2581DC;